Self_taught_algorithm_study/Self_taught_algorithm_study.sln
Self_taught_algorithm_study/.vs/Self_taught_algorithm_study/v15/ipch/AutoPCH/dec71085daffcd06/MOVINGAVERAGE1.ipch
Self_taught_algorithm_study/.vs/Self_taught_algorithm_study/v15/ipch/AutoPCH/b359691523c3856d/MOVINGAVERAGE2.ipch
Self_taught_algorithm_study/.vs/Self_taught_algorithm_study/v15/ipch/AutoPCH/a89b3fd60ce53f9f/MOVINGAVERAGE.ipch
Self_taught_algorithm_study/.vs/Self_taught_algorithm_study/v15/Browse.VC.opendb
Self_taught_algorithm_study/.vs/Self_taught_algorithm_study/v15/Browse.VC.db
Self_taught_algorithm_study/Self_taught_algorithm_study/Self_taught_algorithm_study.vcxproj.filters
Self_taught_algorithm_study/Self_taught_algorithm_study/Self_taught_algorithm_study.vcxproj
Self_taught_algorithm_study/Self_taught_algorithm_study/Debug/vc141.idb
Self_taught_algorithm_study/Self_taught_algorithm_study/Debug/Self_tau.E1B63DE3.tlog/CL.write.1.tlog
Self_taught_algorithm_study/Self_taught_algorithm_study/Debug/Self_tau.E1B63DE3.tlog/CL.read.1.tlog
Self_taught_algorithm_study/Self_taught_algorithm_study/Debug/Self_tau.E1B63DE3.tlog/CL.command.1.tlog
Self_taught_algorithm_study/Self_taught_algorithm_study/Debug/Self_tau.E1B63DE3.tlog/link.write.1.tlog
Self_taught_algorithm_study/Self_taught_algorithm_study/Debug/Self_tau.E1B63DE3.tlog/link.read.1.tlog
Self_taught_algorithm_study/Self_taught_algorithm_study/Debug/Self_tau.E1B63DE3.tlog/link.command.1.tlog
Self_taught_algorithm_study/Self_taught_algorithm_study/Debug/Self_tau.E1B63DE3.tlog/Self_taught_algorithm_study.lastbuildstate
